.player {
    width: 100vmax;
    height: 100vmin;
    user-select: none;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
}

.player--2rows {
    grid-template-rows: 4fr 5fr;
}

.player--3rows {
    grid-template-rows: 2fr 3fr;
}

.player--4rows {
    grid-template-rows: 1fr 2fr;
}

.player__notes {
    display: flex;
    flex-direction: column-reverse;
}

.player__noteRow {
    display: flex;
    flex-grow: 1;
}

.player__noteRow:first-child {
    margin-top: 1px;
}

.player__button {
    box-sizing: border-box;
    border-radius: 2vmin;
    background-color: #ddd;
    display: inline-block;
    color: black;
    font-weight: bold;

    flex-basis: 0;
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 5vmin;
}

.player__button + .player__button {
    margin-left: 1px;
}

.player__noteRow:first-child .player__button {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.player__button--highlight {
    background-color: #ffffff;
}

.player__button--active {
    color: white;
    background-color: #aa99ff;
}

.player__button--active.player__button--altProfile {
    color: #666;
    background-color: #ffd599;
}

.player__settings {
    padding: 0.5em;
    display: flex;
    justify-content: space-around;
}

.playerSetting {
    flex-grow: 1;
    flex-basis: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.playerSetting__button {
    background-color: transparent;
    border: none;
    color: #aa99ff;
}

.playerSetting__button > svg {
    width: 4em;
    height: 4em;
}

.playerSetting__button--alt {
    color: #ffd599;
}

.player--altProfile .playerSetting__button {
    color: #ffd599;
}

.player--altProfile .playerSetting__button--alt {
    color: #aa99ff;
}

.player__key {
    text-align: center;
    font-weight: bold;
}

.player__config {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player__back > svg,
.player__config > svg {
    margin-right: 0.25em;
}