.player {
    background-color: black;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    user-select: none;
}

.player--flipped {
    transform: rotate(180deg);
}

.player__notes {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    max-height: 100vh;
    align-content: space-between;
}

.player__button {
    box-sizing: border-box;
    border-radius: 2vh;
    background-color: #ccc;
    display: inline-block;
    color: darkblue;
    font-weight: bold;

    height: 20vh;
    width: 30vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.player__button:not(.player__button--top) {
    border-top: solid black 1px;
}

.player__button--left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.player__button--right {
    border-top-right-radius: 2vh;
    border-bottom-right-radius: 2vh;
}

.player__button--extra {
    background-color: #999;
}

.player__button--octaveDown,
.player__button--octaveUp {
    position: absolute;
    left: 35vw;
    right: 35vw;
    padding: 0 3em;
    text-align: center;
}

.player__button--octaveDown {
    bottom: 8vh;
}

.player__button--octaveUp {
    bottom: 30vh;
}

.player__button--active {
    color: white;
    background-color: #61dafb;
}

.player__back {
    color: #ccc;
    position: absolute;
    top: 0.25em;
    left: 0;
    right: 0;
    text-align: center;
}