.player {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    user-select: none;
}

.player__notes {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    max-height: 100vh;
    align-content: space-between;
}

.player__middle {
    position: fixed;
    left: 33vw;
    right: 33vw;
    top: 0;
    bottom: 0;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
}

.player__button {
    box-sizing: border-box;
    border-radius: 2vh;
    background-color: #ccc;
    display: inline-block;
    color: darkblue;
    font-weight: bold;

    height: 20vh;
    width: 30vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.player__button:not(.player__button--top) {
    border-top: solid black 1px;
}

.player__button--left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.player__button--right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.player__button--highlight {
    background-color: #aaf;
}

.player__button--octaveDown,
.player__button--octaveUp {
    padding: 0 3em;
}

.player__button--octaveDown {
    bottom: 8vh;
    margin-bottom: 10vh;
}

.player__button--octaveUp {
    bottom: 30vh;
}

.player__button--active {
    color: white;
    background-color: #61dafb;
}

.player__back {
    margin-top: 1em;
    color: #ccc;
    text-align: center;
}

.player__key {
    font-weight: bold;
}

.player__spacer {
    flex-grow: 1;
}


@media (orientation: landscape) {
    .player__button--left,
    .player__button--right {
        width: 22vw;
    }

    .player__button--octaveDown,
    .player__button--octaveUp {
        width: 50vw;
    }    
}