.site {
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.site__logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

.site__header {
    font-weight: 450;
}

.site__help {
    text-align: left;
    padding: 0 1em;
}

.site__help li + li {
    margin-top: 0.5em;
}

.site__links {
    display: flex;
    justify-content: space-around;
    width: 16em;
}

.site__link {
    color: #61dafb;
}

.site__options {
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
}

.site__option {
    margin-top: 0.5em;
    display: flex;
}

.site__label {
    text-align: left;
    margin-right: 0.5em;
}

.site__value {
    flex-grow: 1;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
